main {
    .contact_us {
        .row {
            display: flex;
            align-items: center;

            div {
                width: 50%;
                padding: 75px;
            }

            .wrap_adress {
                padding: 87px 75px;
                background-color: #074799;

                h3 {
                    margin-bottom: 40px;
                }

                .form_adress {
                    width: auto;
                    padding: 0;

                    p {
                        font-weight: 500;
                        font-size: 35px;
                        line-height: 40px;
                        color: #FFFFFF;
                        padding: 0;
                        width: auto;
                        max-width: 400px;
                        margin-bottom: 50px;
                    }

                    .wrap_meassage {
                        width: auto;
                        padding: 0;
                        display: flex;
                        align-items: center;

                        a {
                            width: 77px;
                            height: 77px;
                            border-radius: 50%;
                            background: #FFFFFF;
                            border: 1px solid #003376;
                            margin-right: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.4s;

                            &:hover {
                                transform: scale(1.2);
                            }

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .wrap_form {
                background-color: rgba(7, 71, 153, 0.9);

                div {
                    padding: 0;
                    width: auto;
                }

                form {
                    div {
                        padding: 0;
                        width: auto;
                        display: flex;
                        margin-bottom: 77px;

                        .first {
                            margin-right: 30px;
                        }
                    }

                    label {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 27px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        display: flex;
                        flex-direction: column;
                        width: 50%;

                        input {
                            display: block;
                            padding: 20px 0;
                            border: none;
                            outline: none;
                            border-bottom: 2px solid #FFFFFF;
                            background-color: transparent;
                            color: #FFFFFF;
                        }
                    }

                    .message {
                        width: 100%;
                        margin-bottom: 53px;
                    }

                    input[type="submit"] {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 27px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background-color: #F7941D;
                        width: 226px;
                        border: none;
                        outline: none;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .map {
        margin-bottom: 95px;
        .row {
            iframe {
                width: 100%;
            }
        }
    }
}